<div class="menu-wrapper">
    <h1 class="light-text">
        Select an action below:
    </h1>
    <div class="grid-container">
        <ul class="menu-grid">
            @for(item of menuItems; track item.index) {
                <li class="card-item">
                    <button class="card">
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <span class="material-symbols-outlined">
                            {{ item.icon}}
                        </span>
                        <span class="card-title">
                            {{ item.title }}
                        </span>
                        <span class="card-description">
                            {{ item.description }}
                        </span>
                    </button>
                </li>
            }
        </ul>
    </div>
</div>