@use './typography.scss';

// Color Pallete

$base-100: #EFFEF9;
$base-200: #CAFDF0;
$base-300: #57F1D3;
$base-400: #0DD2B5;
$base-500: #0A7B6E;
$base-600: #10514B;
$base-700: #02312E; 
$base-800: #001312;

$grey-50: #FDFDFD;
$grey-100: #F7F7F7;
$grey-200: #E3E3E3;
$grey-300: #A4A4A4;
$grey-400: #747474;
$grey-500: #434343;
$grey-600: #313131;
$grey-800: #1A1A1A;
$grey-900: #0A0A0A;

$red-200: #FFCCC5;
$red-400: #D1240D;
$red-600: #892113;

$green-200: #D8FFDE;
$green-400: #0DD12E;
$green-600: #0C5B1B;

$blue-200: #BDDCFA;
$blue-400: #0D70D1;
$blue-600: #113B69;

$yellow-200: #E5F98F;
$yellow-400: #D1CF0D;
$yellow-600: #6D5A16;


// Typography

$heading-family: 'Monda', sans-serif;
$body-family: 'Lato', sans-serif;

